.form-section{
  height: 95vh;
  min-width: 350px;
  width: 50%;
  margin : 0 auto;
  text-align: center;
  display : flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.contact-form{
  text-align: left;
  min-height: 500px;
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

input , textarea{
  padding : 8px 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
}

label{
  color : var(--neon);
  font-size: 1.1rem;
}

.submitBtn{
  margin-top : 10px;
  min-width: 325px;
  width: 75%;
  padding : 8px;
  margin : 10px auto 0;
}

.submitBtn:disabled{
  color:rgb(153, 153, 153);
  background-color: #363738;
  cursor: not-allowed;
  border : none;
}

@media screen and (min-width: 600px){
  .form-section{
    height: 80vh;
   
  }
}

