.home-section{
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
  height : 100%;
}

section.introduction{
  min-height: 250px;
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hide{
  opacity : 0;
  transition : 3s;
}

.appear{
  opacity : 1;
  transition-duration : 3s;
  transition-timing-function: ease-out;
}

.checkOutMore{
  text-align: left;
  width : 20ch;
  padding : 15px;
}


