.home-section{
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height : 100vh;
}

section.introduction{
  min-height: 250px;
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hide{
  opacity : 0;
  transition : 3s;
}

.appear{
  opacity : 1;
  transition-duration : 3s;
  transition-timing-function: ease-out;
}

.checkOutMore{
  width : 100%;
}


@media screen and (min-width: 600px){
  .home-section{
    min-height : 80vh;
  }
  .checkOutMore{
    text-align: left;
    width : 20ch;
    padding : 15px;
  }
}
